.subscribe
 {
  background-color: rgb(192, 34, 34);
  color: white;
  border: none;
  padding: 10px 16px 10px 16px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
  }
  
  .subscribe-button:hover
  {
   opacity: 0.7;
  }
  .subscribe-button:active
  {
   opacity: 0.4;
  }
  
  .JOIN
  {
    color: rgb(30, 160, 211);
    background-color: rgb(255, 255, 255);
    border-color: rgb(30, 160, 211);
    border-style: solid;
    border-width: 1px;
    padding: 9px 15px 9px 15px;
    border-radius: 2px;
    cursor: pointer;
    transition: color 0.15s, background-color 0.25s, opacity 0.15s;
    vertical-align: top;
  
  
  }
  
  .JOIN:hover
  {
    color: rgb(250, 250, 250);
    background-color: rgb(30, 160, 211);
  }
  
  .JOIN:active
  {
    color: rgb(250, 250, 250);
    background-color: rgb(30, 160, 211);
    opacity: 0.8;
  }
  
  .Tweet
  {
    background-color: #1d9bf0;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    padding: 7px 16px 7px 16px;
  
    font-size: 15;
    margin-left: 8px;
    cursor: pointer;
    transition: box-shadow 0.40s;
    vertical-align: top;
  }
  
  .tweet:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }
  
  .tweet:active {
    opacity: 0.8;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }
  